@import '../../../themes/node.scss';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ccc;
  background-color: $main-background;
  font-family: $main-font;
  text-align: center;
}

#main-container {
  width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

a {
  color: $done-color;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
