@import '../../../themes/node';

.todo-form {
  width: 100%;
  border-bottom: $done-color dashed 1px;
  color: $todo-color;

  .all-done {
    display: inline;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    color: inherit;
    width: 35px;
    height: 100%;
    box-sizing: border-box;
    transform: rotate(90deg);

    &.no-todos {
      visibility: hidden;
    }
  }

  input {
    width: calc(100% - 40px);
    padding: 5px;
    background: transparent;
    font-size: 1.6rem;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    color: inherit;
  }

  button[type=submit] {
    display: none;
  }
}
