@import '../../../themes/node';

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 5px;
  margin: 0;
  font-size: 1.6rem;
  line-height: 30px;
  position: relative;
  background-color: transparent;

  &:hover {
    background-color: lighten($main-background, 5%);

    .delete {
      display: inline-block;
    }
  }

  & > span {
    display: block;
    width: 100%;
    line-height: 30px;
    color: $todo-color;

    &.done {
      color: $done-color;

      > span {
        text-decoration: line-through;
      }

      .set-todo-state {
        color: $done-color;
      }
    }
  }

  button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
  }

  .set-todo-state {
    color: $todo-color;
  }

  .delete {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 30px;
    color: red;
  }

}
